<div id="logo"></div>

<div id="help-out">
  <h1>What's all this, then?</h1>

  <p><a target="_blank" href="http://railsgirls.com">Rails Girls</a> is a global, volunteer-run non-profit community
  dedicated to giving women the tools to create awesome web applications by hosting free introductory web development
  workshops.</p>

  <h1>Want to get involved?</h1>

  <ul>
    <li><span class='type'>I want to attend.</span> Awesome! You should <a target="_blank" href="http://eepurl.com/t_asr">sign up for our email list.</a></li>
    <li><span class='type'>I want to coach.</span> Thanks! You'll want to <a target="_blank" href="https://groups.google.com/forum/?fromgroups&hl=en#!forum/railsgirlsatx---coaches">join the Google Group for coaches.</a></li>
    <li><span class='type'>I want to help organize.</span> You rock! Please <a target="_blank" href="https://groups.google.com/forum/?fromgroups&hl=en#!forum/rails-girls-atx---organizers">join the Google Group for organizers.<la></li>
  </ul>
</div>

