<div id="logo"></div>

<div id="help-out">
  <h1>What's all this, then?</h1>

  <p><a target="_blank" href="http://railsgirls.com">Rails Girls</a> is a global, volunteer-run non-profit community
  dedicated to giving women the tools to create awesome web applications by hosting free introductory web development
  workshops.</p>

  <h1>Want to get involved?</h1>

  <ul>
    <li><span class='type'>I want to attend.</span> Awesome! You should <a target="_blank" href="http://eepurl.com/t_asr">sign up for our email list.</a></li>
    <li><span class='type'>I want to coach.</span> Thanks! You'll want to <a target="_blank" href="https://groups.google.com/forum/?fromgroups&hl=en#!forum/railsgirlsatx---coaches">join the Google Group for coaches.</a></li>
    <li><span class='type'>I want to help organize.</span> You rock! Please <a target="_blank" href="https://groups.google.com/forum/?fromgroups&hl=en#!forum/rails-girls-atx---organizers">join the Google Group for organizers.</a></li>
  </ul>

  <h1>Donate to support Rails Girls ATX!</h1>
  
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="width: 200px; margin: 0 auto;">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYB310+na3xioC7EKI1reE5zByepEK+2fKlCUzOoblGS+OlJukEt0smHzSswLFgPcOifk/H+5DeKXj16zhtEhX6CF2mXZlrwpHV9WwTZhfS6axd78nY57CaINCgB/AAOdZoX1G+JizvScUE/fBTJEtfcOnNB+o1pN3zmd9J/hlvxgjELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI5Rtlmo8BBZKAgZB4wG6lhmPrx7A3LXYKFXZ0zHHesGNTYnMuRkb4BahMqD5MSW8UueGZmRbufmAhQoFRU9vxqF2Hhw6aa36DhF9b0prEuy8WtNUlFDpjkKaFhM+1asWtCPgwAVcGt4092Ee87IxQqdu0BYVz9Ye9RT2HKsmDR/StvTxg79R33pRVS0rfBWiRBKSvG2BhIefw1TugggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMzA4MTIxNTIzNDFaMCMGCSqGSIb3DQEJBDEWBBTCftAhnJ/nXYqBdV2zx9wcozM74zANBgkqhkiG9w0BAQEFAASBgDCipQNrF9jr4EK+bCcO971saC+TYFKCfejvwm7xcr65qRUHlhPb7W/u7RQH7ZmV5bEFJ3o5BTlmOf2Y+yDFBpkEUKFsYtyNZcE/kG+jaR93rsPx4gJIxMaamxn/bEcpEBnamWy83Rqd0KsZGXOdLCNwo30WpYzu3Kd0EyqUBSde-----END PKCS7-----
    ">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
</div>

